.StockOrderBook {
  color: white;
  height: 100%;
  display:flex;
  align-items:center;
  font-size: 0.5em;
}

.StockOrderBookTitle{
  color: white;
  width: 100%;
}

.StockOrderBook table {
  width: 50%;
}

.StockOrderBook td, .StockOrderBook th {
  width: 49%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.StockOrderBook .StockOrderBookBids td, .StockOrderBook .StockOrderBookBids th {
  text-align: right;
}

.StockOrderBook .StockOrderBookAsks td, .StockOrderBook .StockOrderBookAsks th {
  text-align: left;
}

.StockOrderBook .StockOrderBookAsks .bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(22, 177, 87, 0.3);
    /*z-index: -1;*/
}

.StockOrderBook .StockOrderBookBids .bg {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(240, 83, 89, 0.3);
    /*z-index: -1;*/
}
